.mindy-container-moon
  %h2 moon
  %ul.encounters
    %li
    %li#note-1
    %li
    %li
    %li
  %ul.encounters
    %li#note-2
    %li
    %li
    %li
    %li
  %ul.encounters
    %li
    %li
    %li#note-3
    %li
    %li
  %ul.encounters
    %li
    %li
    %li
    %li
    %li#note-4
  %ul.encounters
    %li
    %li
    %li
    %li#note-5
    %li
