.mindy-container-moon.hide
  .encounters-container
    %ul.encounters
      %li
      %li#a
      %li
      %li
      %li
    %ul.encounters
      %li#l
      %li
      %li
      %li
      %li
    %ul.encounters
      %li
      %li
      %li#i
      %li
      %li
    %ul.encounters
      %li
      %li
      %li
      %li
      %li#e
    %ul.encounters
      %li
      %li
      %li
      %li#n
      %li
