.mindy-container-moon
  %h2 moon
  .encounters-container
    %ul.encounters
      %li
      %li#a
      %li
      %li
      %li
    %ul.encounters
      %li#p
      %li
      %li
      %li
      %li
    %ul.encounters
      %li
      %li
      %li#r
      %li
      %li
    %ul.encounters
      %li
      %li
      %li
      %li
      %li#b
    %ul.encounters
      %li
      %li
      %li
      %li#q
      %li
