.mindy-text-4
  .mindy-container-roswell
    .images-container
      .movie-image#alien
        = image_tag 'alien.png'
      .movie-image#et
        = image_tag 'et.png'
      .movie-image#groot
        = image_tag 'groot.png'
      .movie-image#hutt
        = image_tag 'hutt.png'