.instagram-feed
  .singapore-photos
    - @singapore_photos.each do |object|
      = image_tag(object.images.thumbnail.url)
.mindy-text
  %p#sg-text-1 [calculating current location...]
  %p#sg-text-2 [current location: #{}]
  %button#sg-button-1 Establish Remote Link
  %p#sg-text-3 [remote link established]
  %p#sg-text-4 [you're now connected to Mindy]
  %p#sg-text-5 Mindy: Who are you?