.instagram-feed.hide
  .singapore-photos
    - @singapore_photos[0..4].each do |object|
      = image_tag(object.images.thumbnail.url)
.mindy-text-1
  %p.user-voice#sg-text-.active "...where am I?"
  %p.user-voice#sg-text-.hide "I can't remember anything. I need to get home."
  %p.user-voice#sg-text-.hide "I'll try connecting."
  %p.mindy-voice#sg-text-.hide ESTABLISHING REMOTE CONNECTION TO SERVER:'HOME'
  %p.mindy-voice#sg-text-.hide ENTER USERNAME:_
  %p.mindy-voice#sg-text-.hide.dy 
    GUEST USER =>
    %span hi
  %p.mindy-voice#sg-text-.hide YOU ARE NOW CONNECTED TO SERVER:'HOME' => USER:"MINDY"
  %p.mindy-voice#sg-text-.hide Mindy: Welcome to CRATER: CENTRAL ROAMING AGENCY TRANS-NATIONAL ENGINE REPOSITORY 
  %p.mindy-voice#sg-text-.hide Mindy: LIMITED ACCESS. You seem to be currently logged in as GUEST. This isn't a secure server.  
  %p.mindy-voice#sg-text-.hide "Access USER 4-2-0-Y-M-L GPS logs."
  %p.mindy-voice#sg-text-.hide Mindy: ACCESS GRANTED. READ ONLY. FILE CORRUPTED.
  %button#sg-next-1.hvr-grow Continue

.mindy-text-2.hide
  %p.mindy-voice#sg-text-.active Mindy: CAPTURED IMAGERY FORM LAST LOGGED LOCATION. ENTER TELEPORT DESTINATION >>> 
  %button#sg-next-2 Continue