.mindy-text-3
  %p#tokyo-text- Mindy: Obtained access to corrupted LOCAION hash. LOCATION name not in order. Rearrange to TELEPORT. 
  .drag-elements-1
    .draggable#t.disabled T
    .draggable.tile-k K
    .draggable.tile-y Y
    .draggable.tile-o O
    .draggable.tile-o O
    .tickone.hide correct
  .drag-elements-2
    .draggable#i.disabled I
    .draggable.tile-a A
    .draggable.tile-m M
    .draggable.tile-r R
    .draggable.tile-e E
    .draggable.tile-l L
    .draggable.tile-p P
    .draggable.tile-i I
    .ticktwo correct
  .drag-elements-3
    .draggable#p.disabled P
    .draggable.tile-c C
    .draggable.tile-l L
    .draggable.tile-a A
    .draggable.tile-e E
    .draggable.tile-a A
    .tickthree correct

