%h1.header Title

.toolbox-container
  %button#google-translate Translate
  %button#wolfram-alpha Morse

.map-container
  #map-canvas

.mindy-contanier
  = render :partial => "singapore"

.input-container
  %input#input-box{:type => "text", :placeholder => "type here"}